/**
* COMMON 
**/
:root {
  --header-height: 110px;
}

.app {
  margin: auto;
  overflow: hidden;
  padding-top: var(--header-height);
  min-height: 100vh;
  .header {
    z-index: 1000;
    max-width: 1920px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: var(--header-height);
    gap: 16px;
    font-size: 16px;
    // position: absolute;
    transition-duration: 200ms;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;

    .switches {
      display: flex;
      flex-direction: column;
      min-width: 76px;
      gap: 16px;
    }
    .space {
      flex-grow: 2;
    }
  }
  // .stickyheader {
  //   // display: none !important;
  //   z-index: 1000;
  //   position: fixed;
  //   top: 0;
  //   width: 100vw;
  //   transition-duration: 200ms;
  //   display: flex;
  //   padding-right: 16px;

  //   .switches {
  //     display: none;
  //   }
  // }
  .footer {
    background-color: transparent;
  }
}

/**
* RESPONSIVE 
**/
@media only screen and (max-width: 450px) {
  .app {
    .header {
      flex-wrap: wrap;
      padding: 16px !important;
      .header-title {
        margin-top: 16px;
        display: flex;
        order: 1;
        font-weight: bold;
      }
      .search-input {
        flex-grow: 2;
        order: 2;
      }
      .space {
        order: 2;
      }
      .switches {
        order: 3;
      }
      .hamburger {
        order: 3;
      }
      .hamburger {
        margin-right: 16px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .app {
    .header {
      justify-content: space-around;

      .search-input {
        justify-content: space-between;
      }
      .palette {
        display: none;
      }
      .language-setting {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .app {
    .header {
      padding: 0px 16px;
      .header-title {
        display: none;
      }
      .search-input {
        margin: 0px;
      }
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .app {
    .header {
      .header-title {
        font-weight: bold;
        cursor: pointer;
        font-size: 21px;
        margin-right: 2%;
      }
      .palette {
        font-size: 18px;
        align-items: center;
      }
      .language-setting {
        font-size: 16px;
        cursor: not-allowed;
      }
    }
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .app {
    .header {
      padding: 0px 32px;
    }
  }
}
@media only screen and (max-width: 1439px) {
  .app {
    .header {
      .menu {
        display: none;
      }
      .hamburger {
        display: flex;
        .hamburger-dropdown {
          position: absolute;
        }
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
  .app {
    .header {
      padding: 0px 64px;
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        white-space: nowrap;
        flex-grow: 2;
        font-weight: bold;
        div {
          min-width: 65px;
        }
      }
      .hamburger {
        display: none;
      }
    }
    .nav-bar {
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      margin: 16px;
      font-size: 18px;
      .nav-item {
        cursor: pointer;
      }
    }
    .space {
      flex-grow: 2;
    }
  }
}
