.app {
  height: 100%;
  min-height: 100vh;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 3%;
    height: 200px;
    gap: 60px;
    width: 100%;
    background-color: #ffffff !important;
    flex-wrap: nowrap;
    font-size: 32px;
    span:hover {
      opacity: 0.5;
    }
    .rabbit {
      height: 200px;
      object-fit: cover;
      cursor: pointer;
    }

    .search-input {
      min-width: 300px;
      max-width: 550px;
      height: 82px;
      font-size: 18px;
      border-radius: 60px;
      border-color: #bcdee8;
      color: #02314a;
      padding-left: 42px;
      padding-right: 42px;
    }

    .switches {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .space {
      flex-grow: 2;
    }
    .palette {
      align-items: center;
    }
    .language-setting {
      cursor: not-allowed;
    }
  }
  .header-float {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
  }
  .app-content {
    background-color: transparent;
  }
  .footer {
    background-color: transparent;
  }
}
