@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nanum Gothic", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
span {
  font-family: "Nanum Gothic";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
